In [11]:
import pandas as pd
import numpy as np
import streamlit as st

df = pd.read_csv('/content/train-data.csv')
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [12]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [13]:
df.tail()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [14]:
df.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [15]:
df.dtypes

Unnamed: 0             int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
dtype: object

In [16]:
df['Mileage'].unique()

array(['26.6 km/kg', '19.67 kmpl', '18.2 kmpl', '20.77 kmpl', '15.2 kmpl',
       '21.1 km/kg', '23.08 kmpl', '11.36 kmpl', '20.54 kmpl',
       '22.3 kmpl', '21.56 kmpl', '16.8 kmpl', '25.2 kmpl', '12.7 kmpl',
       '0.0 kmpl', '13.5 kmpl', '25.8 kmpl', '28.4 kmpl', '20.45 kmpl',
       '14.84 kmpl', '22.69 kmpl', '23.65 kmpl', '13.53 kmpl',
       '18.5 kmpl', '14.4 kmpl', '20.92 kmpl', '17.5 kmpl', '12.8 kmpl',
       '19.01 kmpl', '14.53 kmpl', '11.18 kmpl', '12.4 kmpl',
       '16.09 kmpl', '14.0 kmpl', '24.3 kmpl', '18.15 kmpl', '11.74 kmpl',
       '22.07 kmpl', '19.7 kmpl', '25.4 kmpl', '25.32 kmpl', '14.62 kmpl',
       '14.28 kmpl', '14.9 kmpl', '11.25 kmpl', '24.4 kmpl', '16.55 kmpl',
       '17.11 kmpl', '22.9 kmpl', '17.8 kmpl', '18.9 kmpl', '15.04 kmpl',
       '25.17 kmpl', '20.36 kmpl', '13.29 kmpl', '13.68 kmpl',
       '20.0 kmpl', '15.8 kmpl', '25.0 kmpl', '16.4 kmpl', '24.52 kmpl',
       '22.1 kmpl', '8.5 kmpl', '15.1 kmpl', '16.95 kmpl', '19.64 kmpl',
       '16.5 kmpl', '18.53 kmpl', '17.57 kmpl', '18.0 kmpl', '23.2 kmpl',
       '16.73 kmpl', '17.0 kmpl', '13.0 kmpl', '17.68 kmpl', '22.7 kmpl',
       '16.2 kmpl', '15.26 kmpl', '23.0 kmpl', '19.83 kmpl', '14.94 kmpl',
       '17.71 kmpl', '14.74 kmpl', '16.0 kmpl', '22.32 kmpl',
       '12.99 kmpl', '23.3 kmpl', '19.15 kmpl', '10.8 kmpl', '15.0 kmpl',
       '22.0 kmpl', '21.9 kmpl', '12.05 kmpl', '11.7 kmpl', '21.21 kmpl',
       '20.73 kmpl', '21.1 kmpl', '24.07 kmpl', '19.0 kmpl', '20.58 kmpl',
       '19.27 kmpl', '11.5 kmpl', '18.6 kmpl', '21.14 kmpl', '11.05 kmpl',
       '21.76 kmpl', '7.81 kmpl', '21.66 kmpl', '17.2 kmpl', '20.63 kmpl',
       '19.4 kmpl', '14.8 kmpl', '26.0 kmpl', '20.4 kmpl', '21.5 kmpl',
       '15.3 kmpl', '17.9 kmpl', '16.6 kmpl', '22.54 kmpl', '25.44 kmpl',
       '13.7 kmpl', '22.48 kmpl', '12.9 kmpl', '19.98 kmpl', '21.4 kmpl',
       '19.81 kmpl', '15.4 kmpl', '25.47 kmpl', '19.87 kmpl',
       '17.45 kmpl', '14.7 kmpl', '15.64 kmpl', '15.73 kmpl',
       '23.59 kmpl', '16.1 kmpl', '27.4 kmpl', '20.46 kmpl', '15.29 kmpl',
       '20.51 kmpl', '11.8 kmpl', '14.3 kmpl', '14.67 kmpl', '17.19 kmpl',
       '21.03 kmpl', '22.5 kmpl', '16.82 kmpl', '11.72 kmpl', '17.4 kmpl',
       '17.05 kmpl', '24.0 kmpl', '28.09 kmpl', '20.5 kmpl', '13.1 kmpl',
       '19.91 kmpl', '18.7 kmpl', '16.38 kmpl', '11.57 kmpl', '17.3 kmpl',
       '22.95 kmpl', '18.88 kmpl', '23.4 kmpl', '22.74 kmpl',
       '12.07 kmpl', '17.1 kmpl', '18.48 kmpl', '16.47 kmpl', '23.1 kmpl',
       '14.07 kmpl', '16.02 kmpl', '19.3 kmpl', '17.7 kmpl', '9.52 kmpl',
       '14.75 kmpl', '26.3 km/kg', '11.3 kmpl', '21.12 kmpl',
       '21.02 kmpl', '14.45 kmpl', '19.33 kmpl', '13.8 kmpl', '24.7 kmpl',
       '11.0 kmpl', '11.07 kmpl', '21.43 kmpl', '14.21 kmpl',
       '18.86 kmpl', '16.07 kmpl', '13.49 kmpl', '20.38 kmpl',
       '12.0 kmpl', '17.01 kmpl', '13.2 kmpl', '20.37 kmpl', '15.1 km/kg',
       '15.96 kmpl', '14.16 kmpl', '13.17 kmpl', '27.62 kmpl',
       '25.1 kmpl', '15.17 kmpl', '11.33 kmpl', '17.92 kmpl',
       '12.55 kmpl', '12.6 kmpl', '17.72 kmpl', '18.16 kmpl',
       '15.68 kmpl', '15.5 kmpl', '12.1 kmpl', '14.83 kmpl', '17.6 kmpl',
       '14.6 kmpl', '14.66 kmpl', '10.93 kmpl', '20.68 kmpl', '9.9 kmpl',
       '21.13 kmpl', '20.14 kmpl', '19.2 kmpl', '27.3 kmpl', '16.36 kmpl',
       '26.59 kmpl', '12.5 kmpl', '13.6 kmpl', '15.06 kmpl', '10.13 kmpl',
       '17.21 kmpl', '15.97 kmpl', '10.5 kmpl', '14.69 kmpl', '23.9 kmpl',
       '19.1 kmpl', '21.27 kmpl', '15.9 kmpl', '20.7 kmpl', '14.1 kmpl',
       '20.89 kmpl', '18.12 kmpl', '12.3 kmpl', '19.71 kmpl', '9.43 kmpl',
       '13.4 kmpl', '13.14 kmpl', '18.1 kmpl', '22.77 kmpl', '14.49 kmpl',
       '12.39 kmpl', '10.91 kmpl', '20.85 kmpl', '15.63 kmpl',
       '27.39 kmpl', '18.3 kmpl', '16.78 kmpl', '25.5 kmpl', '10.0 kmpl',
       '13.73 kmpl', '24.2 kmpl', '14.02 kmpl', '26.83 km/kg',
       '16.77 kmpl', '24.5 kmpl', '20.34 kmpl', '21.7 kmpl', '9.7 kmpl',
       '14.33 kmpl', '21.64 kmpl', '13.2 km/kg', '19.16 kmpl',
       '16.93 kmpl', '9.0 kmpl', '26.2 km/kg', '16.3 kmpl', '12.62 kmpl',
       '17.3 km/kg', '20.64 kmpl', '14.24 kmpl', '18.06 kmpl',
       '10.2 kmpl', '10.1 kmpl', '18.25 kmpl', '13.93 kmpl', '25.83 kmpl',
       '8.6 kmpl', '13.24 kmpl', '17.09 kmpl', '23.84 kmpl', '8.45 kmpl',
       '19.6 kmpl', '19.5 kmpl', '20.3 kmpl', '16.05 kmpl', '11.2 kmpl',
       '27.03 kmpl', '18.78 kmpl', '12.35 kmpl', '14.59 kmpl',
       '17.32 kmpl', '14.95 kmpl', '13.22 kmpl', '23.03 kmpl',
       '33.44 km/kg', '15.6 kmpl', '19.12 kmpl', '10.98 kmpl',
       '33.54 km/kg', '16.46 kmpl', '18.4 kmpl', '11.1 kmpl',
       '13.01 kmpl', '18.8 kmpl', '16.52 kmpl', '18.44 kmpl',
       '19.49 kmpl', '23.5 kmpl', '23.8 kmpl', '12.65 kmpl', '20.65 kmpl',
       '21.72 kmpl', '12.19 kmpl', '26.1 kmpl', '18.33 kmpl',
       '12.81 kmpl', '17.5 km/kg', '17.06 kmpl', '17.67 kmpl',
       '19.34 kmpl', '8.3 kmpl', '16.96 kmpl', '11.79 kmpl', '20.86 kmpl',
       '16.98 kmpl', '11.68 kmpl', '15.74 kmpl', '15.7 kmpl',
       '18.49 kmpl', '10.9 kmpl', '19.59 kmpl', '11.4 kmpl', '13.06 kmpl',
       '21.0 kmpl', '15.15 kmpl', '16.9 kmpl', '18.23 kmpl', '25.0 km/kg',
       '17.16 kmpl', '17.43 kmpl', '19.08 kmpl', '18.56 kmpl',
       '11.9 kmpl', '24.6 km/kg', '21.79 kmpl', '12.95 kmpl', '25.6 kmpl',
       '13.45 km/kg', '26.21 kmpl', '13.58 kmpl', '16.25 kmpl',
       '10.4 kmpl', '17.44 kmpl', '19.2 km/kg', '22.71 kmpl',
       '17.54 kmpl', '22.1 km/kg', '17.0 km/kg', '15.87 kmpl', '9.5 kmpl',
       '11.56 kmpl', '14.39 kmpl', '19.09 kmpl', '17.85 kmpl',
       '31.79 km/kg', '18.18 kmpl', '21.19 kmpl', '21.8 kmpl',
       '15.42 kmpl', '14.47 kmpl', '19.69 kmpl', '12.83 kmpl', '8.0 kmpl',
       '22.8 km/kg', '12.63 kmpl', '14.57 kmpl', '27.28 kmpl',
       '15.41 kmpl', '32.26 km/kg', '18.19 kmpl', '13.33 kmpl',
       '16.7 kmpl', '17.84 kmpl', '20.0 km/kg', '23.19 kmpl',
       '11.49 kmpl', '18.51 kmpl', '13.44 kmpl', '8.7 kmpl', '8.77 kmpl',
       '17.97 kmpl', '23.57 kmpl', '12.37 kmpl', '9.1 kmpl', '12.51 kmpl',
       '19.44 kmpl', '21.38 kmpl', '16.51 kmpl', '24.8 kmpl',
       '14.42 kmpl', '14.53 km/kg', '26.8 kmpl', '24.04 kmpl', '9.8 kmpl',
       '19.68 kmpl', '21.4 km/kg', '21.2 kmpl', '19.72 kmpl', '14.2 kmpl',
       '12.98 kmpl', '23.01 kmpl', '16.12 kmpl', '9.3 kmpl', '15.85 kmpl',
       nan, '17.88 kmpl', '10.6 kmpl', '11.78 kmpl', '7.94 kmpl',
       '25.01 kmpl', '8.1 kmpl', '13.9 kmpl', '11.62 kmpl', '20.62 kmpl',
       '15.11 kmpl', '10.37 kmpl', '18.59 kmpl', '9.74 kmpl',
       '14.81 kmpl', '8.2 kmpl', '12.97 kmpl', '7.5 kmpl', '30.46 km/kg',
       '6.4 kmpl', '12.85 kmpl', '18.69 kmpl', '17.24 kmpl'], dtype=object)

In [17]:
df['Mileage'].value_counts()

Mileage
18.9 kmpl      172
17.0 kmpl      172
18.6 kmpl      119
20.36 kmpl      88
21.1 kmpl       86
              ...
23.57 kmpl       1
14.53 km/kg      1
12.85 kmpl       1
18.69 kmpl       1
17.24 kmpl       1
Name: count, Length: 442, dtype: int64

In [18]:
df['Brand']= df['Name'].apply(lambda x:x.split()[0])
df['Brand']

0          Maruti
1         Hyundai
2           Honda
3          Maruti
4            Audi
          ...
6014       Maruti
6015      Hyundai
6016     Mahindra
6017       Maruti
6018    Chevrolet
Name: Brand, Length: 6019, dtype: object

In [19]:
df1 = pd.get_dummies(df[['Location','Fuel_Type','Transmission','Owner_Type','Brand']],dtype =int,drop_first = True)
df1

,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,...,Brand_Mitsubishi,Brand_Nissan,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Smart,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6015,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6016,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6017,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6018,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
dfe = pd.concat([df,df1],axis=1)
dfe

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,...,Brand_Mitsubishi,Brand_Nissan,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Smart,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,...,0,0,0,0,0,0,0,0,0,0
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,...,0,0,0,0,0,0,0,0,0,0
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,...,0,0,0,0,0,0,0,0,0,0
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,...,0,0,0,0,0,0,0,0,0,0
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,...,0,0,0,0,0,0,0,0,0,0
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,...,0,0,0,0,0,0,0,0,0,0
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,...,0,0,0,0,0,0,0,0,0,0
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,...,0,0,0,0,0,0,0,0,0,0
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,...,0,0,0,0,0,0,0,0,0,0

In [21]:
dfe.drop(['Unnamed: 0','Name','Location','Fuel_Type','Transmission','Owner_Type','New_Price','Brand'],axis =1,inplace = True)
dfe

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,Location_Coimbatore,...,Brand_Mitsubishi,Brand_Nissan,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Smart,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,2010,72000,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,41000,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011,46000,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2012,87000,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,40670,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,2014,27365,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6015,2015,100000,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6016,2012,55000,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6017,2013,46000,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6018,2011,47000,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
dfe['Mileage'] = dfe['Mileage'].str.replace('km/kg' ,'')
dfe['Mileage'] = dfe['Mileage'].str.replace('kmpl' ,'')
dfe['Engine'] = dfe['Engine'].str.replace('CC' ,'')
dfe['Power'] = dfe['Power'].str.replace('bhp' ,'')
dfe['Engine'] = dfe['Engine'].str.replace('null' ,'0')
dfe['Mileage'] = dfe['Mileage'].str.replace('null' ,'0')
dfe['Power'] = dfe['Power'].str.replace('null' ,'0')
dfe

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Bangalore,Location_Chennai,Location_Coimbatore,...,Brand_Mitsubishi,Brand_Nissan,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Smart,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,2010,72000,26.6,998,58.16,5.0,1.75,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,41000,19.67,1582,126.2,5.0,12.50,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011,46000,18.2,1199,88.7,5.0,4.50,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2012,87000,20.77,1248,88.76,7.0,6.00,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,40670,15.2,1968,140.8,5.0,17.74,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,2014,27365,28.4,1248,74,5.0,4.75,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6015,2015,100000,24.4,1120,71,5.0,4.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6016,2012,55000,14.0,2498,112,8.0,2.90,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6017,2013,46000,18.9,998,67.1,5.0,2.65,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6018,2011,47000,25.44,936,57.6,5.0,2.50,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
dfe['Mileage']=dfe['Mileage'].astype(float)
dfe['Engine']=dfe['Engine'].astype(float)
dfe['Power']=dfe['Power'].astype(float)
dfe.dtypes

Year                           int64
Kilometers_Driven              int64
Mileage                      float64
Engine                       float64
Power                        float64
Seats                        float64
Price                        float64
Location_Bangalore             int64
Location_Chennai               int64
Location_Coimbatore            int64
Location_Delhi                 int64
Location_Hyderabad             int64
Location_Jaipur                int64
Location_Kochi                 int64
Location_Kolkata               int64
Location_Mumbai                int64
Location_Pune                  int64
Fuel_Type_Diesel               int64
Fuel_Type_Electric             int64
Fuel_Type_LPG                  int64
Fuel_Type_Petrol               int64
Transmission_Manual            int64
Owner_Type_Fourth & Above      int64
Owner_Type_Second              int64
Owner_Type_Third               int64
Brand_Audi                     int64
Brand_BMW                      int64
Brand_Bentley                  int64
Brand_Chevrolet                int64
Brand_Datsun                   int64
Brand_Fiat                     int64
Brand_Force                    int64
Brand_Ford                     int64
Brand_Honda                    int64
Brand_Hyundai                  int64
Brand_ISUZU                    int64
Brand_Isuzu                    int64
Brand_Jaguar                   int64
Brand_Jeep                     int64
Brand_Lamborghini              int64
Brand_Land                     int64
Brand_Mahindra                 int64
Brand_Maruti                   int64
Brand_Mercedes-Benz            int64
Brand_Mini                     int64
Brand_Mitsubishi               int64
Brand_Nissan                   int64
Brand_Porsche                  int64
Brand_Renault                  int64
Brand_Skoda                    int64
Brand_Smart                    int64
Brand_Tata                     int64
Brand_Toyota                   int64
Brand_Volkswagen               int64
Brand_Volvo                    int64
dtype: object

In [24]:
# dfe.loc[dfe.Engine==0,'Engine']=np.NaN
# dfe.loc[dfe.Power==0,'Power']=np.NaN
# dfe.loc[dfe.Mileage==0,'Mileage']=np.NaN
# dfe

dfe.loc[dfe['Engine'] == 0, 'Engine'] = pd.NA
dfe.loc[dfe['Mileage'] == 0, 'Mileage'] = pd.NA
dfe.loc[dfe['Power'] == 0, 'Power'] = pd.NA

In [25]:
dfe.isna().sum()

Year                           0
Kilometers_Driven              0
Mileage                       70
Engine                        36
Power                        143
Seats                         42
Price                          0
Location_Bangalore             0
Location_Chennai               0
Location_Coimbatore            0
Location_Delhi                 0
Location_Hyderabad             0
Location_Jaipur                0
Location_Kochi                 0
Location_Kolkata               0
Location_Mumbai                0
Location_Pune                  0
Fuel_Type_Diesel               0
Fuel_Type_Electric             0
Fuel_Type_LPG                  0
Fuel_Type_Petrol               0
Transmission_Manual            0
Owner_Type_Fourth & Above      0
Owner_Type_Second              0
Owner_Type_Third               0
Brand_Audi                     0
Brand_BMW                      0
Brand_Bentley                  0
Brand_Chevrolet                0
Brand_Datsun                   0
Brand_Fiat                     0
Brand_Force                    0
Brand_Ford                     0
Brand_Honda                    0
Brand_Hyundai                  0
Brand_ISUZU                    0
Brand_Isuzu                    0
Brand_Jaguar                   0
Brand_Jeep                     0
Brand_Lamborghini              0
Brand_Land                     0
Brand_Mahindra                 0
Brand_Maruti                   0
Brand_Mercedes-Benz            0
Brand_Mini                     0
Brand_Mitsubishi               0
Brand_Nissan                   0
Brand_Porsche                  0
Brand_Renault                  0
Brand_Skoda                    0
Brand_Smart                    0
Brand_Tata                     0
Brand_Toyota                   0
Brand_Volkswagen               0
Brand_Volvo                    0
dtype: int64

In [26]:
dfe.dtypes

Year                           int64
Kilometers_Driven              int64
Mileage                      float64
Engine                       float64
Power                        float64
Seats                        float64
Price                        float64
Location_Bangalore             int64
Location_Chennai               int64
Location_Coimbatore            int64
Location_Delhi                 int64
Location_Hyderabad             int64
Location_Jaipur                int64
Location_Kochi                 int64
Location_Kolkata               int64
Location_Mumbai                int64
Location_Pune                  int64
Fuel_Type_Diesel               int64
Fuel_Type_Electric             int64
Fuel_Type_LPG                  int64
Fuel_Type_Petrol               int64
Transmission_Manual            int64
Owner_Type_Fourth & Above      int64
Owner_Type_Second              int64
Owner_Type_Third               int64
Brand_Audi                     int64
Brand_BMW                      int64
Brand_Bentley                  int64
Brand_Chevrolet                int64
Brand_Datsun                   int64
Brand_Fiat                     int64
Brand_Force                    int64
Brand_Ford                     int64
Brand_Honda                    int64
Brand_Hyundai                  int64
Brand_ISUZU                    int64
Brand_Isuzu                    int64
Brand_Jaguar                   int64
Brand_Jeep                     int64
Brand_Lamborghini              int64
Brand_Land                     int64
Brand_Mahindra                 int64
Brand_Maruti                   int64
Brand_Mercedes-Benz            int64
Brand_Mini                     int64
Brand_Mitsubishi               int64
Brand_Nissan                   int64
Brand_Porsche                  int64
Brand_Renault                  int64
Brand_Skoda                    int64
Brand_Smart                    int64
Brand_Tata                     int64
Brand_Toyota                   int64
Brand_Volkswagen               int64
Brand_Volvo                    int64
dtype: object

In [27]:
dfe['Mileage'].unique()

array([26.6 , 19.67, 18.2 , 20.77, 15.2 , 21.1 , 23.08, 11.36, 20.54,
       22.3 , 21.56, 16.8 , 25.2 , 12.7 ,   nan, 13.5 , 25.8 , 28.4 ,
       20.45, 14.84, 22.69, 23.65, 13.53, 18.5 , 14.4 , 20.92, 17.5 ,
       12.8 , 19.01, 14.53, 11.18, 12.4 , 16.09, 14.  , 24.3 , 18.15,
       11.74, 22.07, 19.7 , 25.4 , 25.32, 14.62, 14.28, 14.9 , 11.25,
       24.4 , 16.55, 17.11, 22.9 , 17.8 , 18.9 , 15.04, 25.17, 20.36,
       13.29, 13.68, 20.  , 15.8 , 25.  , 16.4 , 24.52, 22.1 ,  8.5 ,
       15.1 , 16.95, 19.64, 16.5 , 18.53, 17.57, 18.  , 23.2 , 16.73,
       17.  , 13.  , 17.68, 22.7 , 16.2 , 15.26, 23.  , 19.83, 14.94,
       17.71, 14.74, 16.  , 22.32, 12.99, 23.3 , 19.15, 10.8 , 15.  ,
       22.  , 21.9 , 12.05, 11.7 , 21.21, 20.73, 24.07, 19.  , 20.58,
       19.27, 11.5 , 18.6 , 21.14, 11.05, 21.76,  7.81, 21.66, 17.2 ,
       20.63, 19.4 , 14.8 , 26.  , 20.4 , 21.5 , 15.3 , 17.9 , 16.6 ,
       22.54, 25.44, 13.7 , 22.48, 12.9 , 19.98, 21.4 , 19.81, 15.4 ,
       25.47, 19.87, 17.45, 14.7 , 15.64, 15.73, 23.59, 16.1 , 27.4 ,
       20.46, 15.29, 20.51, 11.8 , 14.3 , 14.67, 17.19, 21.03, 22.5 ,
       16.82, 11.72, 17.4 , 17.05, 24.  , 28.09, 20.5 , 13.1 , 19.91,
       18.7 , 16.38, 11.57, 17.3 , 22.95, 18.88, 23.4 , 22.74, 12.07,
       17.1 , 18.48, 16.47, 23.1 , 14.07, 16.02, 19.3 , 17.7 ,  9.52,
       14.75, 26.3 , 11.3 , 21.12, 21.02, 14.45, 19.33, 13.8 , 24.7 ,
       11.  , 11.07, 21.43, 14.21, 18.86, 16.07, 13.49, 20.38, 12.  ,
       17.01, 13.2 , 20.37, 15.96, 14.16, 13.17, 27.62, 25.1 , 15.17,
       11.33, 17.92, 12.55, 12.6 , 17.72, 18.16, 15.68, 15.5 , 12.1 ,
       14.83, 17.6 , 14.6 , 14.66, 10.93, 20.68,  9.9 , 21.13, 20.14,
       19.2 , 27.3 , 16.36, 26.59, 12.5 , 13.6 , 15.06, 10.13, 17.21,
       15.97, 10.5 , 14.69, 23.9 , 19.1 , 21.27, 15.9 , 20.7 , 14.1 ,
       20.89, 18.12, 12.3 , 19.71,  9.43, 13.4 , 13.14, 18.1 , 22.77,
       14.49, 12.39, 10.91, 20.85, 15.63, 27.39, 18.3 , 16.78, 25.5 ,
       10.  , 13.73, 24.2 , 14.02, 26.83, 16.77, 24.5 , 20.34, 21.7 ,
        9.7 , 14.33, 21.64, 19.16, 16.93,  9.  , 26.2 , 16.3 , 12.62,
       20.64, 14.24, 18.06, 10.2 , 10.1 , 18.25, 13.93, 25.83,  8.6 ,
       13.24, 17.09, 23.84,  8.45, 19.6 , 19.5 , 20.3 , 16.05, 11.2 ,
       27.03, 18.78, 12.35, 14.59, 17.32, 14.95, 13.22, 23.03, 33.44,
       15.6 , 19.12, 10.98, 33.54, 16.46, 18.4 , 11.1 , 13.01, 18.8 ,
       16.52, 18.44, 19.49, 23.5 , 23.8 , 12.65, 20.65, 21.72, 12.19,
       26.1 , 18.33, 12.81, 17.06, 17.67, 19.34,  8.3 , 16.96, 11.79,
       20.86, 16.98, 11.68, 15.74, 15.7 , 18.49, 10.9 , 19.59, 11.4 ,
       13.06, 21.  , 15.15, 16.9 , 18.23, 17.16, 17.43, 19.08, 18.56,
       11.9 , 24.6 , 21.79, 12.95, 25.6 , 13.45, 26.21, 13.58, 16.25,
       10.4 , 17.44, 22.71, 17.54, 15.87,  9.5 , 11.56, 14.39, 19.09,
       17.85, 31.79, 18.18, 21.19, 21.8 , 15.42, 14.47, 19.69, 12.83,
        8.  , 22.8 , 12.63, 14.57, 27.28, 15.41, 32.26, 18.19, 13.33,
       16.7 , 17.84, 23.19, 11.49, 18.51, 13.44,  8.7 ,  8.77, 17.97,
       23.57, 12.37,  9.1 , 12.51, 19.44, 21.38, 16.51, 24.8 , 14.42,
       26.8 , 24.04,  9.8 , 19.68, 21.2 , 19.72, 14.2 , 12.98, 23.01,
       16.12,  9.3 , 15.85, 17.88, 10.6 , 11.78,  7.94, 25.01,  8.1 ,
       13.9 , 11.62, 20.62, 15.11, 10.37, 18.59,  9.74, 14.81,  8.2 ,
       12.97,  7.5 , 30.46,  6.4 , 12.85, 18.69, 17.24])

In [28]:
dfe['Mileage'] = dfe['Mileage'].fillna(dfe['Mileage'].mean())
dfe['Engine'] = dfe['Engine'].fillna(dfe['Engine'].mean())
dfe['Seats'] = dfe['Seats'].fillna(dfe['Seats'].mode()[0])
dfe['Power'] = dfe['Power'].fillna(dfe['Power'].mean())
dfe.isna().sum()

Year                         0
Kilometers_Driven            0
Mileage                      0
Engine                       0
Power                        0
Seats                        0
Price                        0
Location_Bangalore           0
Location_Chennai             0
Location_Coimbatore          0
Location_Delhi               0
Location_Hyderabad           0
Location_Jaipur              0
Location_Kochi               0
Location_Kolkata             0
Location_Mumbai              0
Location_Pune                0
Fuel_Type_Diesel             0
Fuel_Type_Electric           0
Fuel_Type_LPG                0
Fuel_Type_Petrol             0
Transmission_Manual          0
Owner_Type_Fourth & Above    0
Owner_Type_Second            0
Owner_Type_Third             0
Brand_Audi                   0
Brand_BMW                    0
Brand_Bentley                0
Brand_Chevrolet              0
Brand_Datsun                 0
Brand_Fiat                   0
Brand_Force                  0
Brand_Ford                   0
Brand_Honda                  0
Brand_Hyundai                0
Brand_ISUZU                  0
Brand_Isuzu                  0
Brand_Jaguar                 0
Brand_Jeep                   0
Brand_Lamborghini            0
Brand_Land                   0
Brand_Mahindra               0
Brand_Maruti                 0
Brand_Mercedes-Benz          0
Brand_Mini                   0
Brand_Mitsubishi             0
Brand_Nissan                 0
Brand_Porsche                0
Brand_Renault                0
Brand_Skoda                  0
Brand_Smart                  0
Brand_Tata                   0
Brand_Toyota                 0
Brand_Volkswagen             0
Brand_Volvo                  0
dtype: int64

In [29]:
x = dfe.drop(['Price'],axis = 1)
y = dfe['Price']
x

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,...,Brand_Mitsubishi,Brand_Nissan,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Smart,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,2010,72000,26.60,998.0,58.16,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2015,41000,19.67,1582.0,126.20,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2011,46000,18.20,1199.0,88.70,5.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2012,87000,20.77,1248.0,88.76,7.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,40670,15.20,1968.0,140.80,5.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,2014,27365,28.40,1248.0,74.00,5.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6015,2015,100000,24.40,1120.0,71.00,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6016,2012,55000,14.00,2498.0,112.00,8.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6017,2013,46000,18.90,998.0,67.10,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6018,2011,47000,25.44,936.0,57.60,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
y

0        1.75
1       12.50
2        4.50
3        6.00
4       17.74
        ...
6014     4.75
6015     4.00
6016     2.90
6017     2.65
6018     2.50
Name: Price, Length: 6019, dtype: float64

In [31]:
df2 = pd.read_csv('/content/test-data.csv')
df2

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,1229,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN
1230,1230,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN
1231,1231,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN
1232,1232,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN
1233,1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN

In [32]:
df2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [33]:
df2.tail()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
1229,1229,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN
1230,1230,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN
1231,1231,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN
1232,1232,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN
1233,1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN

In [34]:
df2.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                 10
Power                  10
Seats                  11
New_Price            1052
dtype: int64

In [35]:
df2['Brand'] = df2['Name'].apply(lambda x:x.split()[0])
df2

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Brand
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN,Maruti
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN,Maruti
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh,Toyota
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN,Toyota
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN,Hyundai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,1229,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,Volkswagen
1230,1230,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,Volkswagen
1231,1231,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,Nissan
1232,1232,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,Volkswagen
1233,1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,Mercedes-Benz

In [36]:
df3 = pd.get_dummies(df2[['Location','Fuel_Type','Transmission','Owner_Type','Brand']],dtype = int,drop_first=True)
df3

,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,...,Brand_Mitsubishi,Brand_Nissan,Brand_OpelCorsa,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1230,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1231,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1232,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1233,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df2e = pd.concat([df2,df3],axis=1)
df2e

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,...,Brand_Mitsubishi,Brand_Nissan,Brand_OpelCorsa,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,...,0,0,0,0,0,0,0,0,0,0
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,...,0,0,0,0,0,0,0,0,0,0
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,...,0,0,0,0,0,0,0,1,0,0
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,...,0,0,0,0,0,0,0,1,0,0
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,1229,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,...,0,0,0,0,0,0,0,0,1,0
1230,1230,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,...,0,0,0,0,0,0,0,0,1,0
1231,1231,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,...,0,1,0,0,0,0,0,0,0,0
1232,1232,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,...,0,0,0,0,0,0,0,0,1,0
1233,1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df2e.drop(['Unnamed: 0','Name','Location','Fuel_Type','Transmission','Owner_Type','Brand','New_Price'],axis =1,inplace = True)
df2e

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,...,Brand_Mitsubishi,Brand_Nissan,Brand_OpelCorsa,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,2014,40929,32.26 km/kg,998 CC,58.2 bhp,4.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2013,54493,24.7 kmpl,796 CC,47.3 bhp,5.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,34000,13.68 kmpl,2393 CC,147.8 bhp,7.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2012,139000,23.59 kmpl,1364 CC,null bhp,5.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,2014,29000,18.5 kmpl,1197 CC,82.85 bhp,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,2011,89411,20.54 kmpl,1598 CC,103.6 bhp,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1230,2015,59000,17.21 kmpl,1197 CC,103.6 bhp,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1231,2012,28000,23.08 kmpl,1461 CC,63.1 bhp,5.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1232,2013,52262,17.2 kmpl,1197 CC,103.6 bhp,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1233,2014,72443,10.0 kmpl,2148 CC,170 bhp,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df2e['Mileage'] = df2e['Mileage'].str.replace('km/kg','')
df2e['Mileage'] = df2e['Mileage'].str.replace('kmpl','')
df2e['Engine'] = df2e['Engine'].str.replace('CC','')
df2e['Power'] = df2e['Power'].str.replace('bhp','')
df2e['Power'] = df2e['Power'].str.replace('null','0')
df2e['Mileage'] = df2e['Mileage'].str.replace('null','0')
df2e['Engine'] = df2e['Engine'].str.replace('null','0')

df2e

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,...,Brand_Mitsubishi,Brand_Nissan,Brand_OpelCorsa,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,2014,40929,32.26,998,58.2,4.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2013,54493,24.7,796,47.3,5.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,34000,13.68,2393,147.8,7.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2012,139000,23.59,1364,0,5.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,2014,29000,18.5,1197,82.85,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,2011,89411,20.54,1598,103.6,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1230,2015,59000,17.21,1197,103.6,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1231,2012,28000,23.08,1461,63.1,5.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1232,2013,52262,17.2,1197,103.6,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1233,2014,72443,10.0,2148,170,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df2e['Mileage'] = df2e['Mileage'].astype(float)
df2e['Engine'] = df2e['Engine'].astype(float)
df2e['Power'] = df2e['Power'].astype(float)
df2e.dtypes

Year                           int64
Kilometers_Driven              int64
Mileage                      float64
Engine                       float64
Power                        float64
Seats                        float64
Location_Bangalore             int64
Location_Chennai               int64
Location_Coimbatore            int64
Location_Delhi                 int64
Location_Hyderabad             int64
Location_Jaipur                int64
Location_Kochi                 int64
Location_Kolkata               int64
Location_Mumbai                int64
Location_Pune                  int64
Fuel_Type_Diesel               int64
Fuel_Type_LPG                  int64
Fuel_Type_Petrol               int64
Transmission_Manual            int64
Owner_Type_Fourth & Above      int64
Owner_Type_Second              int64
Owner_Type_Third               int64
Brand_BMW                      int64
Brand_Bentley                  int64
Brand_Chevrolet                int64
Brand_Datsun                   int64
Brand_Fiat                     int64
Brand_Ford                     int64
Brand_Hindustan                int64
Brand_Honda                    int64
Brand_Hyundai                  int64
Brand_ISUZU                    int64
Brand_Isuzu                    int64
Brand_Jaguar                   int64
Brand_Jeep                     int64
Brand_Land                     int64
Brand_Mahindra                 int64
Brand_Maruti                   int64
Brand_Mercedes-Benz            int64
Brand_Mini                     int64
Brand_Mitsubishi               int64
Brand_Nissan                   int64
Brand_OpelCorsa                int64
Brand_Porsche                  int64
Brand_Renault                  int64
Brand_Skoda                    int64
Brand_Tata                     int64
Brand_Toyota                   int64
Brand_Volkswagen               int64
Brand_Volvo                    int64
dtype: object

In [41]:
# df2e.loc[df2e.Engine==0,'Engine']=np.NaN
# df2e.loc[df2e.Mileage==0,'Mileage']=np.NaN
# df2e.loc[df2e.Power==0,'Power'] = np.NaN
# df2e.isna().sum()



df2e.loc[df2e['Engine'] == 0, 'Engine'] = pd.NA
df2e.loc[df2e['Mileage'] == 0, 'Mileage'] = pd.NA
df2e.loc[df2e['Power'] == 0, 'Power'] = pd.NA

In [42]:
df2e['Mileage'] = df2e['Mileage'].fillna(df2e['Mileage'].mean())
df2e['Power'] = df2e['Power'].fillna(df2e['Power'].mean())
df2e['Engine'] = df2e['Engine'].fillna(df2e['Engine'].mean())
df2e['Seats'] = df2e['Seats'].fillna(df2e['Seats'].mode()[0])
df2e.isna().sum()

Year                         0
Kilometers_Driven            0
Mileage                      0
Engine                       0
Power                        0
Seats                        0
Location_Bangalore           0
Location_Chennai             0
Location_Coimbatore          0
Location_Delhi               0
Location_Hyderabad           0
Location_Jaipur              0
Location_Kochi               0
Location_Kolkata             0
Location_Mumbai              0
Location_Pune                0
Fuel_Type_Diesel             0
Fuel_Type_LPG                0
Fuel_Type_Petrol             0
Transmission_Manual          0
Owner_Type_Fourth & Above    0
Owner_Type_Second            0
Owner_Type_Third             0
Brand_BMW                    0
Brand_Bentley                0
Brand_Chevrolet              0
Brand_Datsun                 0
Brand_Fiat                   0
Brand_Ford                   0
Brand_Hindustan              0
Brand_Honda                  0
Brand_Hyundai                0
Brand_ISUZU                  0
Brand_Isuzu                  0
Brand_Jaguar                 0
Brand_Jeep                   0
Brand_Land                   0
Brand_Mahindra               0
Brand_Maruti                 0
Brand_Mercedes-Benz          0
Brand_Mini                   0
Brand_Mitsubishi             0
Brand_Nissan                 0
Brand_OpelCorsa              0
Brand_Porsche                0
Brand_Renault                0
Brand_Skoda                  0
Brand_Tata                   0
Brand_Toyota                 0
Brand_Volkswagen             0
Brand_Volvo                  0
dtype: int64

In [43]:
z = df2e
z

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,...,Brand_Mitsubishi,Brand_Nissan,Brand_OpelCorsa,Brand_Porsche,Brand_Renault,Brand_Skoda,Brand_Tata,Brand_Toyota,Brand_Volkswagen,Brand_Volvo
0,2014,40929,32.26,998.0,58.20000,4.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2013,54493,24.70,796.0,47.30000,5.0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,34000,13.68,2393.0,147.80000,7.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2012,139000,23.59,1364.0,110.38042,5.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,2014,29000,18.50,1197.0,82.85000,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,2011,89411,20.54,1598.0,103.60000,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1230,2015,59000,17.21,1197.0,103.60000,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1231,2012,28000,23.08,1461.0,63.10000,5.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1232,2013,52262,17.20,1197.0,103.60000,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1233,2014,72443,10.00,2148.0,170.00000,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
x.drop(['Brand_Audi','Brand_Force','Brand_Lamborghini','Brand_Smart','Fuel_Type_Electric'],axis=1,inplace=True)
z.drop(['Brand_Hindustan','Brand_OpelCorsa'],axis=1,inplace=True)

In [45]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x,y)
y_pred = model.predict(z)
y_pred

array([ 2.4535847 ,  1.26972859, 16.72302279, ..., -0.03425225,
        5.77243299, 24.73047308])